@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Amita&display=swap");

/* Main configuration */
:root {
  --primary-color: #152741;
  --secondary-color: #FF3030;
  --font-title-style: 'Amita', cursive;
  --font-general: 'Alegraya Sans', sans-serif;
  --text-color: white;
  --contrast-background: rgba(0, 0, 0, 0.6);
  --font: 1.6rem;
}

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--text-color);
}

body>* {
  background-color: var(--primary-color);
}

/* Nav section */
.image-header {
  height: 70vh;
  background-image: url('images/main-header.png');
  background-size: cover;
}

.mask {
  background-color: var(--contrast-background);
}

.navbar {
  padding: 1rem;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.navbar a {
  font-family: var(--font-title-style);
  font-size: 1rem;
  color: var(--text-color);
  margin-left: 1rem;
}

.navbar a:hover{
  color: var(--secondary-color);
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.brand-name {
  display: inline;
  color: var(--text-color);
  font-family: var(--font-title-style);
  margin-left: 3rem;
}

.logo-image {
  background-color: var(--secondary-color);
  width: 4rem;
  border-radius: 50%;
}

.button-random {
  font-family: var(--font-title-style);
  color: var(--text-color);
  font-size: 1rem;
  border-radius: 50%;
  padding: 2rem;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 2rem;
  box-shadow: .2rem .2rem .8rem black;
  
}

.button-random:hover {
  background-color: var(--text-color);
}

/* Search section */
.text-search-section {
  color: var(--secondary-color);
  font-family: var(--font-title-style);
  text-shadow: .2rem .2rem .5rem black;
}

.search-section {
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.recipe-form input {
  font-family: var(--font-general);
  color: var(--text-color);
  background-color: var(--secondary-color);
  width: 100%;
  height:min-content;
  border: none;
  border-radius: 2rem;
  padding: 1.5rem;
  box-shadow: .2rem .2rem .8rem rgba(0, 0, 0, 0.548);
}

.button-find {
  display: flex;
  justify-content: flex-end;
}

.submit-button-find {
  margin-top: 2rem;
  font-family: var(--font-title-style);
  color: var(--text-color);
  height: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 2rem;
  box-shadow: .2rem .2rem .8rem black;
}

.submit-button-find:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #000;
}

/* API DOM styles */
.results {
  padding: 1.5rem;
}

.results .card-body>* {
  color: var(--primary-color);
}

.results .card-img-top {
  border-radius: 50%;
}

.results .card {
  align-items: center;
  }

.result-item {
  width: 25rem;
}

.text-results {
  color: var(--text-color);
  font-family: var(--font-general);
  font-weight: bold;
  text-align: center;
}

.card {
  text-align: center;
  color: var(--primary-color);
}

.cardsOptions {
  justify-items: center;
  /*display: grid;*/
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.cardsOptions>*{
  padding: 1rem;
  font-family: var(--font-title-style);
}

.card img {
  width: 50%;
}

.cardsDetail .card-img-top {
  border-radius: 0;
  height: 40vh;
  width: 100%;
  object-fit: cover;
}

.cardsDetail {
  display: none;
}

.profile{
  padding: 1rem;
  margin: 0.5rem;
}

.profile-cards>*{
  justify-content: space-around;
  display: flex;
  align-items: center;
}

/*no usado pero es para los ingredientes*/
.form-check-label {
  color: var(--text-color);
}

/* Footer section */
footer {
  background-color: var(--secondary-color);
  bottom: 0;
  width: 100%;
}

.copyright-text {
  background-color: rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 0px) and (max-width: 599px){
  .cardsOptions {
    justify-items: center;
    /*display: grid;*/
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
  .cardsOptions>*{
    width: 80%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 699px){
  .cardsOptions {
    justify-items: center;
    /*display: grid;*/
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  .cardsOptions>*{
    width: 90%;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1000px){
  .cardsOptions {
    justify-items: center;
    /*display: grid;*/
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
  .cardsOptions>*{
    width: 90%;
  }
}