@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Amita&display=swap");

/* Main configuration */

:root {
  --primary-color: #152741;
  --secondary-color: #FF3030;
  --font-title-style: 'Amita', cursive;
  --font-general: 'Alegraya Sans', sans-serif;
  --text-color: white;
}

body {
  height: 100vh;
  background-image: url('images/main-header.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Nav section */

nav {
  background-color: rgba(0, 0, 0, 0.8);
}


.brand-name {
  display: inline;
  color: var(--text-color);
  font-family: var(--font-title-style);
  font-size: 70px;
  margin-left: 60px;
}


.logo-image {
  background-color: var(--secondary-color);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.button-random {
  font-family: var(--font-title-style);
  color: var(--text-color);
  font-size: 30px;
  border-radius: 50%;
  padding: 20px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 8px black;

}

.button-random:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Search section */

.text-search-section {
  color: red;
  font-family: 'Amita'
}

.search-section {
  display: flex;
  justify-content: center;
}


.text-search-section {
  color: var(--text-color);
  font-family: var(--font-general);
  font-weight: bold;
  text-shadow: 2px 2px 5px black;
}

.recipe-form input {
  font-family: var(--font-general);
  color: var(--text-color);
  font-size: 20px;
  background-color: var(--secondary-color);
  width: 500px;
  height: 60px;
  border: none;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 2px 2px 8px black;
}

.button-find {
  display: flex;
  justify-content: flex-end;
}

.submit-button-find {
  margin-top: 20px;
  font-family: var(--font-general);
  color: var(--text-color);
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 8px black;
}

.submit-button-find:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #000;
}

/* Footer section */

footer {
  background-color: var(--secondary-color);
  position: fixed;
  bottom: 0;
  width: 100vw;
}


.copyright-text {
  background-color: rgba(0, 0, 0, 0.2);
}


/* API DOM styles */
.results {
  margin: 50px;
}

.cardsOptions {
  justify-items: center;
  /*display: grid;*/
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.result-item>img {
  max-height: 200px;
}