:root {
  --primary-color: #152741;
  --secundary-color: #FF3030;
  --contrast-background: rgba(0, 0, 0, 0.6);
  --font-title-style: 'Amita', cursive;
  --font-general: 'Alegreya Sans', sans-serif;
  --font: 1.6rem;
  --text-color: white;
}

* {
  padding: 0;
  margin: 0;
}

body>* {
  background-color: var(--primary-color);
}

h1,h2,h3,h4,h5,h6,p{
  color: var(--text-color);
}

/*Header/navigation*/
.image-header {
  background-image: url('images/main-header.png');
  background-size: cover;
}

.mask {
  background-color: var(--contrast-background);
}

.navbar {
  margin-bottom: 50px;
}

.navbar>* {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#logo {
  background-color: var(--secundary-color);
  border-radius: 100px;
  height: 3rem;
}

#title-page {
  font-size: 30px;
  font-family: var(--font-title-style);
  color: var(--text-color);
}

.navbar a {
  font-family: var(--font-title-style);
  font-size: 20px;
  color: var(--text-color);
}

/*Section of search*/
#text-search-section {
  color: var(--text-color);
  font-family: var(--font-general);
  font-weight: bold;
  text-shadow: 2px 2px 5px black;
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#recipe-form input {
  font-family: var(--font-general);
  color: var(--text-color);
  font-size: 20px;
  background-color: var(--secundary-color);
  width: 400px;
  height: 60px;
  border: none;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 2px 2px 8px black;
}

.button-find {
  display: flex;
  justify-content: flex-end;
}

.button-find button {
  margin-top: 20px;
  font-family: var(--font-general);
  color: var(--text-color);
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: var(--secundary-color);
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 8px black;
}

/*section results*/
.results {
  padding-bottom: 50px;
}

#text-results {
  color: var(--text-color);
  font-family: var(--font-general);
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.card {
  text-align: center;
  color:var(--primary-color);
}

.card-deck .card img {
  height: 200px;
}
/*for detail*/
.form-check-label{
  color: var(--text-color);
}
/*for social buttons*/
.results .card-body>*{
  color: var(--primary-color);
}
.results .card-img-top{
  width: 150px;
  background-color: var(--secundary-color);
  border-radius: 50%;
}

.results .card{
  align-items: center;
}

 .fa {
  padding: 20px;
  font-size: 0px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram,.fa-linkedin,.fa-github  {
  background: #3B5998;
  color: white;
}
/*footer*/
footer {
  background-color: var(--secundary-color);
}